.App {
  text-align: center;
  position: fixed;
  position: relative;
}

#loading {
  background: url('giphy.gif') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.Title {

text-align: center;
text-decoration: wavy;
text-shadow: #282c34;
font-size: large;
color: crimson;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.ListProducts{

  text-align: right;


}

.Cart{
  text-align: right;
  width: 100%;
  width: auto;
  margin-right: 0px;
  margin-left: auto;


}

.table{

  width: 100%;
  width: auto;
  margin-right: 0px;
  margin-left: auto;
}

.Login{

  padding: 60px 0;
  margin: 0 auto;
  max-width: 320px;


}
.Home{
  text-align: right;
}
.Menu{
  text-align: center;
  margin-top: 60px 0;
  margin-bottom: 60px;
}
.ShowTable{

  text-align: right;

}

.headers{

  text-align: left;
  font-size: 150%;
  padding-top: 5%;
  margin-top: 5%;
  margin-left: 8%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.cards{


  text-align: center;
  font-size: 150%;
  padding-top: 2%;
  margin-top: 2%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
  
  
}

.shoppingcart{

  text-align: left;
  font-size: 150%;
  padding-top: 5%;
  margin-top: 5%;
  margin-left: 11%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


.categoryinside{



margin-left: 15%;





}

#tablecart{

  margin-left: 20%;



}



.cardsinside{

  margin-left: 10%;
  height: 1000px;
  border: 1px ghostwhite;
  display: inline-block;




}

#categorynames{

  size: 5em;
  color: black;
  font-family: cursive;


}




#list{

  
  width: 150px;
  height: 400px;
  border: 5px black solid;
  /* padding: 40px; */
  background-color: crimson;
  
  padding-right: 5px;
  padding-left: 5px;
  
  padding-bottom: 10px;

  margin-left: 20px;

  text-align: center;

  overflow: auto;

  display: inline-block;


}

#tablecart{

  overflow: auto;
  height: 400px;
  border: 2px black solid;
  display: inline-block;
  




}

#cart{



  text-align: right;

  overflow: auto;

  display: inline-block;

  
  /* padding: 40px; */

}

#categoryelement{

  

  text-align: left;
  display: inline;
  width: 70%;
  
  

}





#cardss{

  display: inline-block;
  
  


}

.justify-content-md-center{

  display: inline-block;


}



#inputGroup-sizing-lg{

  text-align: center;
  size: 50px;


}





