.App {
  text-align: left;
  
}

#loading {
  background: url('giphy.gif') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}



.Usersadd{

  text-align: left;


}

.Login{

  padding: 60px 0;
  margin: 0 auto;
  max-width: 320px;


}


.Input{

  text-align: left;
  text-decoration-line: underline;
  
}

.Title {

  text-align: center;
  text-decoration: wavy;
  text-shadow: #282c34;
  font-size: large;
  color: crimson;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  .Info{

    text-align: center;
  }

  #resizephoto{

    size:100px;


  }

  #catadd{

    margin-left: 5%;
    border-radius: 10px;
    


  }
  #wow{

    margin-right: 10%;

  }


  Table{
    text-align: center;
    margin-left: 5%;
    
    
  }

  .inputnamee{

    
    text-align: center;


  }

  
  #inputform{

    width: 17%;


  }
  #submit
  {
    
    width: 100%;

  }
  

  

  



